
// compute resource labels for each process

process {   
  cpus = { 1 * task.attempt }
  memory = { 6.GB * task.attempt }
  time = { 4.h * task.attempt }

  errorStrategy = { task.attempt <= 2 ? "retry" : "ignore" }   
  maxRetries = 3 
  // Base configuration for the processes 
  withLabel: small {
    cpus =  4 
    memory = { 8.GB * task.attempt }
    time = { 6.h * task.attempt }
  }
  withLabel: medium {
    cpus =  8 
    memory = { 8.GB * task.attempt }
    time = { 24.h * task.attempt }
  }
}