
// compute resource labels for each process

process {   
  cpus = { 1 * task.attempt }
  memory = { 6.GB * task.attempt }
  time = { 4.h * task.attempt }

  errorStrategy = { task.attempt <= 2 ? "retry" : "ignore" }   
  maxRetries = 3 
  // Base configuration for the processes 
  withLabel: small {
    cpus = { 4, 'cpus' }
    memory = { 8.GB * task.attempt, 'memory' }
    time = { 6.h * task.attempt, 'time' }
  }
  withLabel: medium {
    cpus = { 8, 'cpus' }
    memory = { 8.GB * task.attempt, 'memory' }
    time = { 24.h * task.attempt, 'time' }
  }
}