.nextflow*
*.pyc
*.log*
*.fastq*
*.fq*
*.html
*.bam*
*.metrics
*.bedGraph*
*.bw
.nextflow/
data/
results/
.DS_Store
work/*
work
reports/*
reports
fastq_files/*
demux
demux/*
demux/*/*
trimmed
trimme/*
ref/*
!ref/.gitkeep
!fastq_files/.gitkeep
!fastq_files/CAGE_00.fastq.gz
!fastq_files/CAGE_01.fastq.gz
test.nf
[:]/*
[:]/trace.txt
[:]/report.html
[:]/timeline.html
.nf-core.yml
