.nextflow*
*.pyc
*.log*
*.fastq*
*.fq*
*.html
*.bam*
*.metrics
*.bedGraph*
*.bw
.nextflow/
data/
results/
.DS_Store
work/*
work
reports/*
reports
fastq_files
fastq_files/*
demux
demux/*
demux/*/*
trimmed
trimme/*
ref/*
!ref/.gitkeep