.nextflow*
*.pyc
*.log*
*.fastq.gz
*.fastq
*.html
.nextflow/
data/
results/
.DS_Store
tests/
testing/
testing*
work/*
work
reports/*
reports
fastq_files
fastq_files/*
index_files
index_files/*
demux
demux/*
demux/*/*
trimmed
trimme/*